/* RESET */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    scroll-behavior:smooth;
}

body{
    font-family:'Poppins',sans-serif;
    body{
    background:#efe4d8;
}
    color:#333;
    overflow-x:hidden;
}

/* HEADER */

header{
    position:fixed;
    top:0;
    width:100%;
    background:rgba(255,255,255,0.92);
    backdrop-filter:blur(10px);
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 8%;
    z-index:1000;
    box-shadow:0 2px 15px rgba(0,0,0,0.08);
}

.logo img{
    height:70px;
}

nav{
    display:flex;
    gap:30px;
}

nav a{
    text-decoration:none;
    color:#5e4a3d;
    font-weight:500;
    transition:.3s;
}

nav a:hover{
    color:#d08f6f;
}

/* HERO */

.hero{
    height:100vh;

    /* FOTO DE FUNDO PRINCIPAL */
    background:
    linear-gradient(
    rgba(0,0,0,0.45),
    rgba(0,0,0,0.45)
    ),
    url("imagens/pr1.png");

    background-size:cover;
    background-position:center;

    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;

    color:white;
}

.hero-content{
    max-width:900px;
    padding:20px;
}

.hero h1{
    font-size:5rem;
    font-family:'Playfair Display',serif;
    margin-bottom:20px;
    text-shadow:0 4px 15px rgba(0,0,0,.4);
}

.hero p{
    font-size:1.3rem;
    margin-bottom:40px;
}

.botoes{
    display:flex;
    justify-content:center;
    gap:20px;
    flex-wrap:wrap;
}

.btn{
    background:#d08f6f;
    color:white;
    text-decoration:none;
    padding:15px 35px;
    border-radius:50px;
    transition:.4s;
    font-weight:600;
}

.btn:hover{
    transform:translateY(-5px);
    box-shadow:0 10px 25px rgba(0,0,0,.2);
}

.btn-secundario{
    background:white;
    color:#333;
}

/* SEÇÕES */

section{
    padding:70px 8%;
}

section h2{
    section h2{
    text-align:center;
    width:100%;
    display:block;

    font-size:3rem;
    margin:0 auto 30px;

    color:#5e4a3d;
    font-family:'Playfair Display',serif;
}
}

/* SOBRE */

.sobre{
    .sobre{
    background:#f3ece4;
}
}

.container{
    max-width:1200px;
    margin:auto;
}

.sobre p{
    text-align:center;
    max-width:900px;
    margin:auto;
    line-height:1.9;
    font-size:1.1rem;
}

.sobre-galeria{
    margin-top:50px;
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
    gap:25px;
}

.sobre-galeria img{
    width:100%;
    height:350px;
    object-fit:cover;
    border-radius:20px;
    transition:.4s;
}

.sobre-galeria img:hover{
    transform:scale(1.03);
}

/* CATEGORIAS */

.cards{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
    gap:30px;
}

.card{
    .card{
    background:#f8f3ee;
}
    border-radius:20px;
    overflow:hidden;
    box-shadow:0 10px 30px rgba(0,0,0,.08);
    transition:.4s;
}

.card:hover{
    transform:translateY(-10px);
}

.card img{
    width:100%;
    height:250px;
    object-fit:cover;
}

.card h3{
    margin:20px;
    color:#5e4a3d;
}

.card p{
    margin:0 20px 25px;
}

/* GALERIA */

.galeria{
    background:#fffaf5;
}

.grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
    gap:20px;
}

.grid img{
    width:100%;
    height:350px;
    object-fit:cover;
    border-radius:20px;
    cursor:pointer;
    transition:.4s;
}

.grid img:hover{
    transform:scale(1.04);
}

/* VIDEO */

.video{
    text-align:center;
}

.video video{
    width:100%;
    max-width:850px;
    max-height:500px;

    border-radius:20px;

    object-fit:cover;

    box-shadow:0 10px 30px rgba(0,0,0,.15);
    .video{
    background:#f3ece4;
}
}

/* CONTATO */

.contato{
    background:#f8f1e7;
    text-align:center;
}

.info{
    max-width:700px;
    margin:auto;
}

.info p{
    font-size:1.2rem;
    margin:20px 0;
}

.info i{
    color:#d08f6f;
    margin-right:10px;
}

/* FOOTER */

footer{
    background:#5e4a3d;
    color:white;
    text-align:center;
    padding:50px 20px;
}

footer img{
    width:120px;
    margin-bottom:20px;
}

footer h3{
    margin-bottom:10px;
}

/* WHATSAPP */

.whatsapp{
    position:fixed;
    bottom:25px;
    right:25px;

    width:65px;
    height:65px;

    background:#25d366;

    border-radius:50%;

    display:flex;
    justify-content:center;
    align-items:center;

    color:white;
    font-size:2rem;

    text-decoration:none;

    z-index:999;

    box-shadow:0 10px 25px rgba(0,0,0,.25);

    transition:.3s;
}

.whatsapp:hover{
    transform:scale(1.1);
}

/* ANIMAÇÕES */

.fade{
    opacity:0;
    transform:translateY(40px);
    transition:1s;
}

.fade.show{
    opacity:1;
    transform:translateY(0);
}

/* RESPONSIVO */

@media(max-width:900px){

header{
    flex-direction:column;
    gap:15px;
}

nav{
    gap:15px;
    flex-wrap:wrap;
    justify-content:center;
}

.hero h1{
    font-size:3rem;
}

.hero p{
    font-size:1rem;
}

section h2{
    font-size:2.2rem;
}

.logo img{
    height:60px;
}

}

@media(max-width:600px){

.hero h1{
    font-size:2.3rem;
}

.hero p{
    font-size:.95rem;
}

.btn{
    width:100%;
}

.cards{
    grid-template-columns:1fr;
}

.grid{
    grid-template-columns:1fr;
}

}            

.texto-loja{
    .texto-loja{

    max-width:850px;

    margin:0 auto 25px;

    text-align:center;

    line-height:2;

    font-size:1.15rem;

    color:#5c524b;

    font-weight:300;

}
}

.carousel-container{
    position:relative;
    max-width:1400px;
    margin:auto;
    overflow:hidden;
}

.carousel{
    display:flex;
    gap:20px;
    overflow-x:auto;
    scroll-behavior:smooth;
    scrollbar-width:none;
}

.carousel::-webkit-scrollbar{
    display:none;
}

.carousel img{
    min-width:32%;
    height:400px;
    object-fit:cover;
    border-radius:20px;
    transition:.4s;
}

.carousel img:hover{
    transform:scale(1.03);
}

.carousel-btn{
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    width:55px;
    height:55px;
    border:none;
    border-radius:50%;
    cursor:pointer;
    font-size:24px;
    z-index:10;

    background:white;
    box-shadow:0 5px 15px rgba(0,0,0,.15);
}

.prev{
    left:10px;
}

.next{
    right:10px;
}

.carousel-btn:hover{
    background:#d08f6f;
    color:white;
}

@media(max-width:768px){

.carousel img{
    min-width:100%;
    height:350px;
}

}

.categorias{
    padding-top:20px;
}

.sobre h2::after{

    content:"";

    display:block;

    width:80px;

    height:4px;

    background:#d08f6f;

    margin:15px auto 0;

    border-radius:20px;

}

.carousel-progress{

    width:300px;
    height:6px;

    background:#e8ddd1;

    border-radius:20px;

    margin:25px auto 0;

    overflow:hidden;

}

.carousel-progress-bar{

    width:15%;

    height:100%;

    background:#d08f6f;

    border-radius:20px;

    transition:.4s;

}

.sobre h2,
.categorias h2,
.video h2,
.contato h2{
    text-align:center;
    width:100%;
    margin-left:auto;
    margin-right:auto;
}

section h2{
    text-align:center;

    font-size:2.8rem;

    color:#6d4c41;

    font-family:'Playfair Display',serif;

    letter-spacing:1px;

    margin-bottom:25px;
}

.categoria-galeria{
    display:none;
    position:relative;
    margin-top:35px;
}

.categoria-galeria.ativa{
    display:block;
}

.categoria-galeria h3{
    text-align:center;
    margin-bottom:20px;
    color:#5e4a3d;
}

.mini-carousel{
    display:flex;
    gap:20px;
    overflow-x:hidden;
    scroll-behavior:smooth;
}

.mini-carousel img{
    min-width:32%;
    height:350px;
    object-fit:cover;
    border-radius:20px;
}

.galeria-btn{
    position:absolute;
    top:55%;
    transform:translateY(-50%);
    width:55px;
    height:55px;
    border:none;
    border-radius:50%;
    background:white;
    cursor:pointer;
    font-size:24px;
    z-index:5;
    box-shadow:0 5px 15px rgba(0,0,0,.15);
}

.galeria-btn:hover{
    background:#d08f6f;
    color:white;
}

.galeria-btn.prev{
    left:-20px;
}

.galeria-btn.next{
    right:-20px;
}